<!-- Default layout for a client widget -->
<div class="panel panel-default">
  <!-- Title bar with connection and hardware connection status flags -->
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="monitor-client-title" style="margin-right: 0.5em">{{> params.description }}</span>
      <span class="monitor-client-connstatus label label-default" style="margin-right: 0.5em"></span>
      <span class="monitor-client-hwstatus label label-default" style="margin-right: 0.5em"></span>
    </h3>
  </div>
  <!-- Main body, hidden when disconnected -->
  <div class="monitor-client-body panel-body" style="padding: 1px; margin: 1px;">
    <!-- Progress bar -->
    <div class="monitor-client-progressdiv progress hide" style="margin: 0; padding: 0">
      <div class="monitor-client-progress progress-bar" style="width: 0%">
      </div>
    </div>

    <!-- Main content -->

    <!-- Show all key=value pairs from the status -->
    <div class="monitor-client-main" style="padding: 5px">
      {{props status }}
      {{: key }}:&nbsp;<span class="monitor-value-{{: key }} label label-primary" style="margin-right: 1em">{{>prop}}</span>
      {{/props}}
    </div>

    <!-- Show all pre-configured plots -->
    <div class="monitor-client-plots" style="padding: 5px">
      {{props params.plots }}
      <img src="/monitor/plot/{{> ~root.params.name }}/{{> key }}" class="monitor-plot-{{> ~root.params.name }}-{{> key }} img img-responsive center-block"/><br>
      {{/props}}
    </div>
  </div>
</div>
