<!-- Default layout for a client widget -->
<div class="panel panel-default">
  <!-- Title bar with connection and hardware connection status flags -->
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="monitor-client-title" style="margin-right: 0.5em">{{> params.description }}</span>
      <span class="monitor-client-connstatus label label-default" style="margin-right: 0.5em"></span>
      <span class="monitor-client-hwstatus label label-default" style="margin-right: 0.5em" ></span>
    </h3>
  </div>
  <!-- Main body, hidden when disconnected -->
  <ul class="monitor-client-body list-group hide">
    <!-- Progress bar -->
    <li class="monitor-client-progressdiv list-group-item progress hide" style="margin: 0; padding: 0">
      <div class="monitor-client-progress progress-bar" style="width: 0%">
      </div>
    </li>
    <!-- Main content -->

    <!-- Show all key=value pairs from the status -->
    <li class="list-group-item" style="padding: 5px">
    </li>
    
    <li class="list-group-item clearfix" style="padding: 5px">
      <!-- Subsystems -->
      <img src="/monitor/plot/{{> ~root.params.name }}/current" class="monitor-plot-{{> ~root.params.name }}-current img pull-right"/>
      <img src="/monitor/plot/{{> ~root.params.name }}/voltage" class="monitor-plot-{{> ~root.params.name }}-voltage img pull-right"/>
      {{for ~list('Current','Voltage','I_auto_range','I_range','V_source','V_range','I_limit','zero_check','zero_check_performed') itemVar="~prefix" }}
      <div>
        {{: ~prefix }}: {{status ~prefix /}}
      </div>
      {{/for}}
    </li>
    
  </ul>

</div>
