{% extends "template.html" %}

{% block head %}

  <script src="{{ STATIC_URL }}/updater.js" type="text/javascript"></script>

  <script language="javascript">
   $(document).ready(function(){
     new Updater('#pressure-hour > img', 60000, true);
     new Updater('#pressure-day > img', 600000, true);
     new Updater('#pressure-week > img', 600000, true);

     $('img.popup-status-image').click(function(event) {return popupStatusImageThis(event)});
   });
  </script>

  {% include "popup_image.html" %}

{% endblock %}

{% block ptitle %}Current : CCDLab{% endblock %}

{% block title %}Laboratory environment{% endblock %}

{% block content %}

  <!-- Pressure -->
  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Pressure:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#pressure-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#pressure-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#pressure-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="pressure-hour" class="tab-pane fade">
        <img src="{% url 'status_plot' 'pfeiffer.pressure' %}?ylog=1&width=1000&height=400&hours=1&title=Pfeiffer&ylabel=Pressure [mbar]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="pressure-day" class="tab-pane fade in active">
        <img src="{% url 'status_plot' 'pfeiffer.pressure' %}?ylog=1&width=1000&height=400&hours=24&title=Pfeiffer&ylabel=Pressure [mbar]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="pressure-week" class="tab-pane fade">
        <img src="{% url 'status_plot' 'pfeiffer.pressure' %}?ylog=1&width=1000&height=400&hours=168&title=Pfeiffer&ylabel=Pressure [mbar]" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>

  <!-- CryoCon -->
  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Cryo-Con temperature:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#cryocon-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#cryocon-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#cryocon-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="cryocon-hour" class="tab-pane fade">
<img src="{% url 'status_plot' 'cryo-con.temperatureA,cryo-con.temperatureB,cryo-con.temperatureC,cryo-con.temperatureD' %}?width=1000&height=400&hours=1&title=Cryo-Con Temperatures&ylabel=Temperature [degrees]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="cryocon-day" class="tab-pane fade in active">
<img src="{% url 'status_plot' 'cryo-con.temperatureA,cryo-con.temperatureB,cryo-con.temperatureC,cryo-con.temperatureD' %}?width=1000&height=400&hours=24&title=Cryo-Con Temperatures&ylabel=Temperature [degrees]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="cryocon-week" class="tab-pane fade">
<img src="{% url 'status_plot' 'cryo-con.temperatureA,cryo-con.temperatureB,cryo-con.temperatureC,cryo-con.temperatureD' %}?width=1000&height=400&hours=168&title=Cryo-Con Temperatures&ylabel=Temperature [degrees]" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>

  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Cryo-Con power:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#cryocon-power-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#cryocon-power-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#cryocon-power-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="cryocon-power-hour" class="tab-pane fade">
        <img src="{% url 'status_plot' 'cryo-con.pwr_set1,cryo-con.pwr_actual1,cryo-con.pwr_set2,cryo-con.pwr_actual2' %}?width=1000&height=400&hours=1&title=Cryo-Con Powers&ylabel=Power" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="cryocon-power-day" class="tab-pane fade in active">
        <img src="{% url 'status_plot' 'cryo-con.pwr_set1,cryo-con.pwr_actual1,cryo-con.pwr_set2,cryo-con.pwr_actual2' %}?width=1000&height=400&hours=24&title=Cryo-Con Powers&ylabel=Power" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="cryocon-power-week" class="tab-pane fade">
        <img src="{% url 'status_plot' 'cryo-con.pwr_set1,cryo-con.pwr_actual1,cryo-con.pwr_set2,cryo-con.pwr_actual2' %}?width=1000&height=400&hours=168&title=Cryo-Con Powers&ylabel=Power" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>

  <!-- Light Intensity -->
  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Light Intensity:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#light-intensity-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#light-intensity-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#light-intensity-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="light-intensity-hour" class="tab-pane fade">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=0&width=1000&height=400&hours=1&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="light-intensity-day" class="tab-pane fade in active">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=0&width=1000&height=400&hours=24&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="light-intensity-week" class="tab-pane fade">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=0&width=1000&height=400&hours=168&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>


  <!-- Power Supply -->
  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Voltage:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#Voltage-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#Voltage-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#Voltage-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="Voltage-hour" class="tab-pane fade">
        <img src="{% url 'status_plot' 'plh120-p.Voltage' %}?ylog=1&width=1000&height=400&hours=1&title=Plh120-p&ylabel=Voltage [V]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="Voltage-day" class="tab-pane fade in active">
        <img src="{% url 'status_plot' 'plh120-p.Voltage' %}?ylog=1&width=1000&height=400&hours=24&title=Plh120-p&ylabel=Voltage [V]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="Voltage-week" class="tab-pane fade">
        <img src="{% url 'status_plot' 'plh120-p.Voltage' %}?ylog=1&width=1000&height=400&hours=168&title=Plh120-p&ylabel=Voltage [V]" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>

  <!-- Photodiode Voltage -->
  <div>

    <ul class="nav nav-tabs">
      <li class="nav-item disabled"><a class="nav-link disabled">Photodiode Voltage:</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#photodiode-voltage-hour">Last Hour</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#photodiode-voltage-day">Last Day</a></li>
      <li class="nav-item"><a data-toggle="tab" href="#photodiode-voltage-week">Last Week</a></li>
    </ul>

    <div class="tab-content">
      <div id="photodiode-voltage-hour" class="tab-pane fade">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=1&width=1000&height=400&hours=1&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="photodiode-voltage-day" class="tab-pane fade in active">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=1&width=1000&height=400&hours=24&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
      <div id="photodiode-voltage-week" class="tab-pane fade">
        <img src="{% url 'status_plot' 'keithley6485.value' %}?ylog=1&width=1000&height=400&hours=168&title=Keithley6485&ylabel=Current [A]" class="img img-responsive center-block popup-status-image">
      </div>
    </div>

  </div>


{% endblock %}
